body{}

.creative-1{width: 730px;

    height: 487px;
    margin-left: 74px;
}
.creative-2{ width: 350px;
    height: 487px;
    margin-left: -33px;
}



.second-section-number{
    color: #CE4864;
    font-weight: 600;
    font-size: 70px;
    margin-left: 80px;
}